*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.6rem;
  background-color: grey;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1.2rem 2rem;
  border-bottom: 1px solid #ddd;
}

nav ul{
  display: flex;
  gap:1.2rem;
  list-style: none;
  
}

nav ul li{
  color: #555;
  transition: color 0.3s;
  cursor: pointer;
}

nav ul li:hover{
  color: #000;
}

nav div{
  display: flex;
  gap:0.75rem;
}

nav button{
padding: 0.5rem 1rem;
background-color: #3d78b7;
border-radius: 4px;
cursor: pointer;
font-weight: bold;
color: white;
border: none;
}

nav button:hover{
  background-color: #2b5887;
}